@model LibraryWebApp.ViewModels.ReadersViewModel
@{
    ViewData["Title"] = "Readers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Readers</h1>
<br />

<a asp-controller="Readers" asp-action="New" class="btn btn-primary">New</a>
<br /><br />

@if (Model.Readers.Count == 0)
{
    <p>No readers yet!</p>
}
else
{
    <table class="table">
        <tr class="thead-light">
            <th>Reader</th>
            <th>Membership</th>
            <th>Discount</th>
            <th>On Newsletter?</th>
        </tr>
        @foreach (var reader in Model.Readers)
        {
            <tr>
                <th> <a asp-controller="Readers" asp-action="Edit" asp-route-id="@reader.Id"> @reader.Name </a> </th>
                <th>@reader.MembershipType.MembershipTypeName</th>
                <th>@reader.MembershipType.DiscountRate %</th>
                <th>@(reader.IsSubscribedToNewsletter == true ? "Yes" : "No")</th>
            </tr>
        }
    </table>
}