@model LibraryWebApp.ViewModels.ReadersViewModel
@{
    ViewData["Title"] = "Readers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Readers</h1>
<br />

<a asp-controller="Readers" asp-action="New" class="btn btn-primary">New</a>
<br /><br />

@if (Model.Readers.Count == 0)
{
    <p>No readers yet!</p>
}
else
{
    <table id="readers" class="table">
        <tr class="thead-light">
            <th>Reader</th>
            <th>Membership</th>
            <th>Discount</th>
            <th>On Newsletter?</th>
            <th>Delete</th>
        </tr>
        @foreach (var reader in Model.Readers)
        {
            <tr>
                <th> <a asp-controller="Readers" asp-action="Edit" asp-route-id="@reader.Id"> @reader.Name </a> </th>
                <th>@reader.MembershipType.MembershipTypeName</th>
                <th>@reader.MembershipType.DiscountRate %</th>
                <th>@(reader.IsSubscribedToNewsletter == true ? "Yes" : "No")</th>
                <th>
                    <button data-reader-id="@reader.Id" class="btn-link js-delete">Delete</button>
                </th>
            </tr>
        }
    </table>
}

@section Scripts
{ 
    <script>
        $(document).ready(function () {
            $("#readers .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this reader?")) {
                    $.ajax({
                        url: "/api/readers/" + button.attr("data-reader-id"),
                        method: "DELETE",
                        success: function () {
                            button.parents("tr").remove();
                        }
                    });
                }
            });
        });
    </script>
}