@model LibraryWebApp.ViewModels.BooksViewModel
@{
    ViewData["Title"] = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Books</h1>
<br />

<a asp-controller="Books" asp-action="New" class="btn btn-primary">New</a>
<br /><br />

@if (Model.Books.Count == 0)
{
    <p>No books yet!</p>
}
else
{
    <table class="table">
        <tr class="thead-light">
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Published</th>
        </tr>
        @foreach (var book in Model.Books)
        {
            <tr>
                <th> <a asp-controller="Books" asp-action="Edit" asp-route-id="@book.Id"> @book.Title </a> </th>
                <th>@book.AuthorLastName, @book.AuthorFirstName</th>
                <th>@book.Genre.GenreTypeName</th>
                <th>@book.PublishedYear</th>
            </tr>
        }
    </table>
}